<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="content">
        <h1>Meet, {{pet.pet_name}}!</h1>
        <div class="show-content">
            <div class="show-image">
                <img src="{{pet.pet_photo}}" alt="Picture of animal" />
            </div>
            <div class="show-fact">
                <h2>Fun Fact:</h2>
                <h3>{{pet.pet_fact}}</h3>
            </div>
        </div>
        <div class="return">
            <a href="/pets">Return to Pets!</a>
        </div>
    </div>

</body>

</html>